* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    max-width: 85%;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
}

@media(max-width: 750px) {
    .container {
        padding: 1rem;
    }

}